* {
    scroll-behavior: smooth;
}

.font-lato {
    font-family: "Lato", sans-serif;
    font-style: normal;
}

.active-btn {
    border: 3px dashed #0E7A81;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

